.title-panel {
  margin: 10px 0;
  padding: 10px 0;
}

.dist {
  font-size: 31.5px;
  line-height: 40px;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}

#social-button {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: auto;
}
