.dummy {
  padding: 7px 15px 0 0;
}
#language_selector > .form-group {
  margin-bottom: 0px;
}
#language_selector .selectize-control {
  margin-bottom: 0px;
}

.btn-twitter {
  text-align: left;
  float: left;
}
